## .NET / Visual Studio
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
.idea/
*.swp
*~

## Publish output
publish/
out/

## NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets

## User secrets (nunca commitar)
secrets.json
appsettings.Local.json

## OS
.DS_Store
Thumbs.db
desktop.ini

## Azure / Terraform
.terraform/
*.tfstate
*.tfstate.*
.env
.env.*
